# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [1]:
my_var1 = 20
my_var2 = 20

is_equal_value = (my_var1 == my_var2)
is_equal_ref = (id(my_var1) == id(my_var2))

print(f'is_equal_value: {is_equal_value}')
print(f'is_equal_ref: {is_equal_ref}')

is_equal_value: True
is_equal_ref: True

Змінні будуть рівними за значенням та за посиланням на місце в памʼяті.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [6]:
my_int = 20
my_float = 20.1
my_bool = True

print(f'my_int instance of int? {isinstance(my_int, int)}')
print(f'my_float instance of float? {isinstance(my_float, float)}')
print(f'my_bool instance of bool? {isinstance(my_bool, bool)}')
print(f'my_bool instance of int? {isinstance(my_bool, int)}')

my_int instance of int? True
my_float instance of float? True
my_bool instance of bool? True
my_bool instance of int? True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [10]:
my_random_int = 10
my_random_float = 3.3

my_random_sum = my_random_int + my_random_float
my_random_subtraction = my_random_int - my_random_float
my_random_division = my_random_int / my_random_float
my_random_product = my_random_int * my_random_float
my_random_division2 = my_random_int // my_random_float
my_random_division3 = my_random_int % my_random_float
my_random_pow = my_random_int ** my_random_float

print(f'sum = {my_random_sum}')
print(f'subs = {my_random_subtraction}')
print(f'div = {my_random_division}')
print(f'prod = {my_random_product}')
print(f'div2 = {my_random_division2}')
print(f'div3 = {my_random_division3}')
print(f'pow = {my_random_pow}')

sum = 13.3
subs = 6.7
div = 3.0303030303030303
prod = 33.0
div2 = 3.0
div3 = 0.10000000000000053
pow = 1995.2623149688789

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [14]:
print(f'int of sum {int(my_random_sum)}')
print(f'int of div {int(my_random_division)}')
print(f'int of pow {int(my_random_pow)}')
print('\n')

my_random_bool = True
print(f'int of bool {int(my_random_bool)}')
print(f'sum of bool {True + True}')

int of sum 13
int of div 3
int of pow 1995


int of bool 1
sum of bool 2

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [15]:
empty_str1 = ''
empty_str2 = str()

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [16]:
some_str1 = '’'
some_str2 = r'’'

print(f'str1 {some_str1}')
print(f'str2 {some_str2}')

str1 ’
str2 ’

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [17]:
my_surname = 'Litvinchuk'
my_format_str = f'My surname is {my_surname}'
my_format_str

'My surname is Litvinchuk'

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [27]:
initial_str = 'My dog is crazy.'
initial_str = initial_str[:-1]
lowercased_str = initial_str.lower()
splitted_str = lowercased_str.split(' ')
splitted_str

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [51]:
my_list1 = [1, 2, 3, 45]
my_list2 = list((1, 2, 3))

len(my_list1)

[1, 2, 3]

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [52]:
my_list1.append(my_list2)
my_list1

[1, 2, 3, 45, [1, 2, 3]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [54]:
my_2d_list = [[1, 2, 3], [4, 5, 6], [7, 8 ,9]]
my_element = my_2d_list[-1][0]
my_element

7

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [56]:
my_random_list = [0, 1.1, True, False, 'string', [1, 2, 3], 7, (8, 9), None, 10]
my_list3 = my_random_list[2:-2]
my_list3

[True, False, 'string', [1, 2, 3], 7, (8, 9)]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [ ]:
my_tuple = (1, )

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Списки та кортежі є колекціями елементів одного або різних типів, відповідно підтримують доступ до елементу за індексом. Списки навідміну від кортежів є mutable, а тому володіють багатьма методами, як append, extend, sort та інші. Натомість кортежі є швидшими та займають менше місця в памʼяті. Списки використовуються, коли вміст або порядок колекції може змінюватися, а кортежі, коли вміст має бути незмінним. Зокрема кортежі використовують для повернення кількох значень з функції.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [61]:
my_list4 = list((1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3))
my_list4.reverse()
filtered_list = my_list4[0:-1:2]
filtered_list

[0.3, 8.3, 6.3, 4.3, 2.3]

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [66]:
my_set1 = set()
my_set1.add(1)
my_set1.add(2)
my_set1.add(3)
my_set1

{1, 2, 3}

Так, множини є змінним типом даних.

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [68]:
my_list5 = [1, 1, 2, 67, 67, 8, 9]
my_set2 = set(my_list5)
my_set2

{1, 2, 8, 9, 67}

Елементи зникли, бо множини є колекціями унікальних елементів.

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [76]:
my_set3 = {1, 3, 5, 6}
my_set4 = {2, 4, 6}

my_union = my_set3.union(my_set4)
my_diff = my_set3.difference(my_set4)
my_intersection = my_set3.intersection(my_set4)
my_sym_dif = my_set3.symmetric_difference(my_set4)

print(f'union {my_union}')
print(f'diff {my_diff}')
print(f'intersection {my_intersection}')
print(f'symm diff {my_sym_dif}')

union {1, 2, 3, 4, 5, 6}
diff {1, 3, 5}
intersection {6}
symm diff {1, 2, 3, 4, 5}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [84]:
empty_dict = {}
empty_dict[1] = 'one'
empty_dict[False] = 'false'
empty_dict['string'] = 'string'
empty_dict

{1: 'one', False: 'false', 'string': 'string'}

Список не підтримує хешування, а отже не може бути ключем.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [88]:
my_dict1 = {'key1': 'value1'}
my_dict2 = {'key2': my_dict1}
my_dict3 = {'key3': my_dict2}
my_dict3['key3']['key2']['key1']

'value1'

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.